{% extends "base.html" %}
{% load static %}

{% block title %}従業員削除{% endblock %}

{% block contents %}
<div class="container">
  <div class="row justify-content-center mt-5">
    <form method="post">
      {% csrf_token %}
      <p>{{object.name}} を本当に削除しますか？</p>
      <div class="d-flex justify-content-center mt-4">
        <button class="btn btn-danger" type="submit">削除</button>
        <a class="btn btn-outline-secondary ml-4" href="{% url 'employees:detail' object.pk %}" role="button">キャンセル</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
